// Place all the styles related to the Things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  float: right;
  width: 65%;
  height: 700px;
}

.things_index {
  float: left;
  width: 30%;
}