<footer class="container">
  <div class="row">
    <div class="block"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="footer">
      &bull; A <a href="https://2014.battlehack.org">BattleHack</a> / <a href="http://stackademy.com">Stackademy</a> Project by <a href="https://twitter.com/edwardmccaughan">@edwardmccaughan</a>, <a href="https://github.com/gitfelix">gitfelix</a> and <a href="https://twitter.com/jdker">@jdker</a> &bull;
      </div>
    </div>
  </div>
</footer>